<form [formGroup]="formulario">
<div class="card">
  <div class="card-header" style="background-color: #926598;">
      <h3 *ngIf="vehiculo">🖊️ Editar: {{vehiculo.marca}} - {{vehiculo.modelo}} </h3> 
  </div>
  <div class="card-body" style="background-color: #ba9dbe;">
    <div class="row">
      <div class="col-2">
        
      </div>
      <div class="col-1"></div>
      
      <div class="col-6">
        <div class="d-flex justify-content-between align-items-center" >
          <label for="staticCodigo" class="col-sm-3 col-form-label text-start"><h4>Código: </h4></label>
          <div class="col-sm-8 text-start">
            <input type="text" class="form-control" id="staticCodigo" name="codigo" formControlName="codigo">
            <span class="text-danger" *ngIf="formulario.controls['codigo'].errors?.['required']">Valor Requerido</span><br>
            
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center" >
          <label for="staticCodigo" class="col-sm-3 col-form-label text-start"><h4>Marca:</h4></label>
          <div class="col-sm-8 text-start">
            <input type="text" class="form-control" id="staticCodigo" name="marca" formControlName="marca" >
            <span class="text-danger" *ngIf="formulario.controls['marca'].errors?.['required']">Valor Requerido</span><br>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center" >
          <label for="staticCodigo" class="col-sm-3 col-form-label text-start"><h4>Modelo:</h4></label>
          <div class="col-sm-8 text-start">
            <input type="text" class="form-control" id="staticCodigo" name="modelo" formControlName="modelo" >
            <span class="text-danger" *ngIf="formulario.controls['modelo'].errors?.['required']">Valor Requerido</span><br>
          </div>
        </div>
      
        <div class="d-flex justify-content-between align-items-center" >
          <label for="staticCodigo" class="col-sm-3 col-form-label text-start"><h4>Año:</h4> </label>
          <div class="col-sm-8 text-start">
            <input type="text" class="form-control" id="staticCodigo" name="anio" formControlName="anio"  >
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center" >
          <label for="staticCodigo" class="col-sm-3 col-form-label text-start"><h4>Kilometraje:</h4> </label>
          <div class="col-sm-8 text-start">
            <input type="text" class="form-control" id="staticCodigo" name="kilometraje"  formControlName="kilometraje" >
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center" >
          <label for="staticCodigo" class="col-sm-3 col-form-label text-start"><h4>Precio:</h4> </label>
          <div class="col-sm-8 text-start">
            <input type="text" class="form-control" id="staticCodigo" name="precio" formControlName="precio" >
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center" >
          <label for="staticCodigo" class="col-sm-3 col-form-label text-start"><h4>Calificación:</h4> </label>
          <div class="col-sm-8 text-start">
            <input type="number" class="form-control" id="staticCodigo" name="calificacion" formControlName="calificacion" >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <div class="mb-2">
          <button class="btn btn-custom" (click)="guardar()"> Guardar 💾</button>
        </div>
        <div>
          <button (click)="goBack()" class="btn btn-volver"> ↩ Regresar </button>
        </div>
      </div>
    </div>
  </div>
</div>
</form>