<div class="card border-light mb-3">
    <div class="card-header" style="background-color: #926598;">
        <h1>{{ tituloListaAutos }}✧</h1>
    </div>

    <div class="card-body" style="background-color: #ba9dbe;">
        <div class="row mb-3">
            <div class="col-md-12 text-center">
                <label for="filtro" class="form-label">🔍Filtrar:</label>
                <div class="col-md-4 mx-auto">
                    <input type="text" class="form-control" id="filtro" [(ngModel)]="filtro" (blur)="consultarVehiculos()" placeholder="Ingrese la marca del vehículo">
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <h3>Filtrar por: {{ filtro }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <a [routerLink]="['/vehiculos/registro']" class="btn btn-custom"> Nuevo Vehículo 🔧</a>
            </div>
        </div>
        <br>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-dark"  *ngIf="listaAutos.length > 0">

            <thead >
                <tr>
                    <td colspan="8"></td>
                    <td>
                        <div class="row">
                            <div class="col">
                                
                                <select  class="form-select bg-dark text-light form-select-sm"[(ngModel)]="rows" (change)="consultarVehiculos()" >
                                    
                                    <option value="5">5</option>
                                    <option value="15">15</option>
                                    <option value="25">25</option>
                                    <option value="100">100</option>
                                </select>
                            
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="text-primary">
                    <th>
                        <button class="btn btn-outline-light" (click)="toogleImage()">{{ muestraImagen ? "Oculta " : "Muestra " }} imagen </button>
                    </th>
                    <th class="text-center"><h6>Código</h6></th>
                    <th class="text-center"><h6>Marca</h6></th>
                    <th class="text-center"><h6>Modelo</h6></th>
                    <th class="text-center"><h6>Año</h6></th>
                    <!--<th>Color</th>-->
                    <th class="text-center"><h6>Kilometraje</h6></th>
                    <th class="text-center"><h6>Precio</h6></th>
                    <th class="text-center"><h6>Calificación</h6></th>
                    <th class="text-center"><h6>Opciones</h6></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listaAutos">
                    <td>
                        <img [src]="item.foto" [style.width.px]="anchoImagen" [style.margin.px]="margenImagen" *ngIf="muestraImagen">
                    </td>
                    <td>{{ item.codigo }}</td>
                    <td>{{ item.marca }}</td>
                    <td>{{ item.modelo | lowercase | AEspacio: '-' }}</td>
                    <td [innerHTML]="item.anio"></td>
                    <!--<td>{{ item.color }}</td>-->
                    <td>{{ item.kilometraje | number }}</td>
                    <td>{{ item.precio | currency }}</td>
                    <td class="text-center small"><app-calificacion [calificacion]="item.calificacion" (accionClick)="recepcion($event)"></app-calificacion></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-edit custom-margin" [routerLink]="['/vehiculos/'+item.codigo]">Editar📝 </button>
                            <button type="button" class="btn btn-delete" (click)="eliminar(item.codigo)">Eliminar❌</button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" (click)="atras()">Anterior</a>
                                </li>
                                <li class="page-item" *ngFor="let pagina of listaPaginas" [ngClass]="{'active': pagina==page}">
                                    <a class="page-link" (click)="cambiarPagina(pagina)">{{ pagina }} </a></li>
                                <li class="page-item">
                                    <a class="page-link" (click)="siguiente()">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
