
  .logo-img {
    max-width: 400px;
    height: auto;
  }
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ebb7ea; 
  }
   
.home-text {
    font-size: 42px;
    font-weight: bold;
    color: #1c184d;
    text-align: center;
    text-transform: uppercase; 
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  }
  