<div class="card border-light mb-3">
  <div class="card-header" style="background-color: #926598;">
    <h1>{{ tituloListaClientes }}✧</h1>
  </div>
  <div class="card-body" style="background-color: #ba9dbe;">
    <div class="row mb-3">
      <div class="col-md-12 text-center">
          <label for="filtro" class="form-label">🔍Filtrar:</label>
          <div class="col-md-4 mx-auto">
              <input type="text" class="form-control" id="filtro" [(ngModel)]="filtro" (blur)="consultarClientes()" placeholder="Ingrese su término de búsqueda">
          </div>
      </div>
  </div>
  <div class="row mb-3">
      <div class="col-md-12">
          <h3>Filtrar por: {{ filtro }}</h3>
      </div>
  </div>
    <div class="row">
      <div class="col-3">
          <a [routerLink]="['/clientes/registro']"  class="btn btn-custom"> Nuevo cliente 🔧</a>
      </div>
    </div>
  <br>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-dark" >
      <thead >
        <tr>
          <td colspan="6"></td>
          <td>
              <div class="row">
                  <div class="col">
                      
                      <select  class="form-select bg-dark text-light form-select-sm"[(ngModel)]="rows" (change)="consultarClientes()" >
                          
                          <option value="5">5</option>
                          <option value="15">15</option>
                          <option value="25">25</option>
                          <option value="100">100</option>
                      </select>
                  
                  </div>
              </div>
          </td>
      </tr>
        <tr class="text-primary">
          <th class="text-center"><h6>Id</h6></th>
          <th class="text-center"><h6>Nombre</h6></th>
          <th class="text-center"><h6>Apellido</h6></th>
          <th class="text-center"><h6>Password</h6></th>
          <th class="text-center"><h6>Teléfono</h6></th>
          <th class="text-center"><h6>Email</h6></th>
          <th class="text-center"><h6>Opciones</h6></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaClientes">
          <td>{{item.id}}</td>
          <td>{{item.nombre|uppercase}}</td>
          <td>{{item.apellido|uppercase}}</td>
          <td>{{item.password}}</td>
          <td>{{item.telefono}}</td>
          <td>{{item.email}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-edit custom-margin" [routerLink]="['/clientes/'+item.id]" >Editar📝 </button>
              <button type="button" class="btn btn-delete" (click)="eliminar(item.id)" >Eliminar❌</button>
          </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
            <td colspan="9">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" (click)="atras()">Anterior</a>
                        </li>
                        <li class="page-item" *ngFor="let pagina of listaPaginas" [ngClass]="{'active': pagina==page}">
                            <a class="page-link" (click)="cambiarPagina(pagina)">{{ pagina }} </a></li>
                        <li class="page-item">
                            <a class="page-link" (click)="siguiente()">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </td>
        </tr>
    </tfoot>
    </table>

  </div>
</div>